body,html{
    margin: 0;
    padding: 0;
}
@media all and (min-width:1700px) {
    .menu {
        padding-top: 32px;
        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        min-height: 5000px;
        color: white;
        text-align: center;


    }

    .links img {
        width: 35%;
        text-align: center;
        padding-bottom: 20px;
    }
    .links ul{
        width: 100%;
        list-style:none;
        text-align: center;
    }
    .links a {
        width: 70%;
        display: block;
        position: relative;
        padding: 5px 5px 5px 5%;
        line-height: 35px;
        text-decoration: none;
        color: white;
        text-align: left;



    }

    .links a:hover {
        background-color: #4c2e86;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {
        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 10px;
        float: left;

    }

    .media {
        margin-left: 40px;
    }

    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        background-color: #2d1850;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 1050px;


    }

    .main-text {
        margin-top: 60px;
        width: 50%;
        margin-left: 25%;
    }

    .slider {
        width: 100%;
        height: 400px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 400px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 125px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}

/* ---------------------------------------------------------------------------- */

@media all and (min-width:1400px) and (max-width: 1699px){
    body,html{
        font-size: 90%;
    }
    .menu {
        padding-top: 32px;
        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        min-height: 5000px;
        color: white;
        text-align: center;


    }

    .links img {
        width: 35%;
        text-align: center;
        padding-bottom: 20px;
    }
    .links ul{
        width: 100%;
        list-style:none;
    }
    .links a {
        width: 80%;
        display: block;
        position: relative;
        padding: 5px 5px 5px 10px;
        line-height: 35px;
        text-decoration: none;
        color: white;
        text-align: left;
        font-size: 90%;


    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {
        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 5px;
        float: left;

    }

    .media {
        margin-left: 25px;
    }

    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        background-color: #2d1850;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 1050px;


    }

    .main-text {
        margin-top: 60px;
        width: 60%;
        margin-left: 20%;
    }

    .slider {
        width: 100%;
        height: 400px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 400px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 115px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* --------------------------------------------------------------------------------- */

@media all and (min-width:1200px) and (max-width: 1399px){
    body,html{
        font-size: 80%;
    }
    .menu {
        padding-top: 32px;
        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        min-height: 5000px;
        color: white;
        text-align: center;


    }

    .links img {
        width: 35%;
        text-align: center;
        padding-bottom: 20px;
    }
    .links ul{
        width: 100%;
        list-style:none;
    }
    .links a {
        width: 80%;
        display: block;
        position: relative;
        padding: 2px 5px 5px 10px;
        line-height: 25px;
        text-decoration: none;
        color: white;
        text-align: left;
        font-size: 90%;


    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {
        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 5px;
        float: left;

    }

    .media {
        margin-left: 0px;
    }

    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        background-color: #2d1850;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 1050px;


    }

    .main-text {
        margin-top: 60px;
        width: 60%;
        margin-left: 20%;
    }

    .slider {
        width: 100%;
        height: 400px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 400px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 125px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}

/* ----------------------------------------------------------------------------------------------- */
@media all and (min-width:1000px) and (max-width: 1199px){
    body,html{
        font-size: 75%;
    }
    .menu {
        padding-top: 32px;
        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        min-height: 5000px;
        color: white;
        text-align: center;


    }

    .links img {
        width: 35%;
        text-align: center;
        padding-bottom: 20px;
    }
    .links ul{
        width: 100%;
        list-style:none;
    }
    .links a {
        width: 80%;
        display: block;
        position: relative;
        padding: 2px 2px 2px 8px;
        line-height: 25px;
        text-decoration: none;
        color: white;
        text-align: left;
        font-size: 70%;


    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {
        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 5px;
        float: left;

    }

    .media {
        margin-left: 0px;
    }

    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        background-color: #2d1850;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 925px;


    }

    .main-text {
        margin-top: 60px;
        width: 60%;
        margin-left: 20%;
    }

    .slider {
        width: 100%;
        height: 300px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 300px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 125px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (min-width:800px) and (max-width: 999px){
    body,html{
        font-size: 70%;
    }
    .menu {
        padding-top: 32px;
        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        min-height: 5000px;
        color: white;
        text-align: center;


    }

    .links img {
        width: 35%;
        text-align: center;
        padding-bottom: 20px;
    }
    .links ul{
        width: 100%;
        list-style:none;

    }

    .links a {
        width: 80%;
        display: block;
        position: relative;
        padding: 2px 2px 2px 8px;
        line-height: 25px;
        text-decoration: none;
        color: white;
        text-align: left;
        font-size: 70%;


    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {
        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 1px;
        float: left;

    }

    .media {
        width: 100%;
        margin-left: 0px;
    }

    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        background-color: #2d1850;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 925px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
    }

    .slider {
        width: 100%;
        height: 300px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 300px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 100px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (max-width: 799px) and (min-width: 630px){
    body,html{
        font-size: 70%;
    }
    .menu {

        padding-top: 82px;
        font-weight: bold;
        width: 100%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 200px;
        color: white;
        text-align: center;


    }
    .links{
        width: 70%;
        float: left;
    }
    .links img {
        width: 1px;
        display: none;

    }
    .links ul{
        width: 100%;
        list-style:none;

    }
    .links a {
        margin-top: 30px;
        float: left;
        width: 17%;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
        color: white;
        text-align: left;
        margin-left: 5px;
        font-size: 90%;

    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {
        margin-top: 10px;
        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 5px;

    }

    .media {
        width: 30%;
        padding-right: 20px;
        float: right;

    }

    .baner {
        width: 100%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;

        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        width: 10%;

    }
    .main {
        padding-top: 150px;
        width: 100%;
        float: left;
        min-height: 925px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
    }

    .slider {
        width: 100%;
        height: 300px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 300px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 100px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {

        width: 100%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (max-width: 629px) and (min-width: 500px){
    body,html{
        font-size: 70%;
    }
    .menu {

        padding-top: 82px;
        font-weight: bold;
        width: 100%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 235px;
        color: white;
        text-align: center;


    }
    .links{
        width: 100%;
        float: left;
    }
    .links img {
        display: none;

    }
    .links ul{
        width: 100%;
        list-style: none;
    }
    .links a {
        margin-top: 20px;
        float: left;
        width: 18%;
        padding: 5px 5px 5px 10px;
        text-decoration: none;
        color: white;
        text-align: left;
        margin-left: 5px;
        font-size: 90%;

    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {

        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 5px;

    }

    .media {
        width: 100%;
        padding: 20px 20px 20px 35%;


    }

    .baner {
        width: 100%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        background-color: #2d1850;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        width: 10%;

    }
    .main {
        padding-top: 205px;
        width: 100%;
        float: left;
        min-height: 925px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
    }

    .slider {
        width: 100%;
        height: 250px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 250px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 20px;
        float: left;
    }

    .slider-right {

        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 100px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {

        width: 100%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (max-width: 505px){
    body,html{
        font-size: 60%;
    }
    .menu {

        padding-top: 52px;
        font-weight: bold;
        width: 100%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 220px;
        color: white;
        text-align: center;


    }

    .links{
        width: 100%;
        float: left;
    }
    .links img {
        display: none;

    }
    .links ul{
        list-style: none;
    }
    .links li{
        width: 20%;
        float: left;
    }
    .links a {
        margin-top: 20px;
        float: left;
        width: 100%;
        padding: 5px 5px 5px 10px;
        text-decoration: none;
        color: white;
        text-align: left;
        float: left;
        font-size: 90%;

    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;
        border-radius: 9%;
    }

    .active a {
        color: #2d1850;
    }

    .media a {

        text-decoration: none;
        color: #ef3478;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 5px;

    }

    .media {
        width: 100%;
        padding: 20px 20px 20px 26%;


    }

    .baner {
        width: 100%;
        color: white;
        float: left;
        height: 100px;
        line-height: 100px;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background: linear-gradient(#f58962, #f4686b);
    }
    .baner img{
        width: 10%;

    }
    .main {
        padding-top: 205px;
        width: 100%;
        float: left;
        min-height: 925px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
    }

    .slider {
        width: 100%;
        height: 250px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 250px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 20px;
        float: left;
    }

    .slider-right {

        float: right;
    }

    .newsletter {
        padding-top: 20px;
        width: 100%;
        height: 150px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 120px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {

        width: 100%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}