body,html{
    margin: 0;
    padding: 0;
}
@media all and (min-width:1700px) {
    .phone-view{
        display: none;
    }
    .title{
        padding-left: 30%;
    }
    .menu-fill{
        position: fixed;
        float: left;
        width: 15%;
        background-color: #6f42c1;
        height: 1100px;
    }
    .menu-pc {

        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 500px;
        color: white;


    }
    .links{
        width: 100%;
        float: left;

    }
    .links img {
        width: 40%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30%;

    }
    .links ul{
        width: 60%;
        list-style:none;
        margin-left: 20%;
        text-align: center;
    }

    .links li a{
        text-decoration: none;
        color: white;


        font-size: 90%;
        border-radius: 5px;

    }

    .links a:hover {
        background-color: #4c2e86;

        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .media a {
        
        color: #ef3478;
        padding: 20%;
        margin-left: 10px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        float: left;
        position: relative;

    }
    .media ul li:first-child{
        margin-left: -20px;
    }
    .media {

        width: 100%;
        float: left;
    }

    .baner{
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
        display: block;
    }

    .main {
        padding-top: 85px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 1050px;


    }

    .main-text {
        margin-top: 60px;
        width: 50%;
        margin-left: 25%;
    }

    .slider {
        width: 100%;
        height: 400px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 400px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 125px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }

    .cytat{
        border-left: 1px solid black;
        margin-left: 5%;

    }
    .cytat p{
        margin-left: 5%;
        font-size: 135%;
    }
    .cytat figcaption{
        padding-left: 5%;
        font-size: 120%;
    }
    .com-head{
        width: 100%;
    }
    .com-img{
        padding-right: 15px;
        height: 100%;
        width: 10%;
        float: left;
    }
    .com-nick{
        height: 70%;
        float: left;
        width: 80%;

    }
    .com-nick a{
        color: #4f4f4f;
    }

    .com-date{
        color: gray;
        height: 30%;
        float: left;
    }
    .com-body{
        width: 100%;
        float: left;

    }
    .com-body a{

        text-decoration: none;
        color: #ed407e;
    }
    .com-com{
        margin-left: 10%;
    }
    .comment{
        margin-top: 100px;
    }
}

/* ---------------------------------------------------------------------------- */

@media all and (min-width:1400px) and (max-width: 1700px){
    body,html{
        font-size: 90%;
    }
    .phone-view{
        display: none;
    }
    .title{
        padding-left: 25%;
    }
    .menu-fill{
        position: fixed;
        float: left;
        width: 15%;
        background-color: #6f42c1;
        height: 1100px;
    }
    .menu-pc {

        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 350px;
        color: white;


    }
    .links{
        width: 100%;
        float: left;

    }
    .links img {
        width: 40%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30%;

    }
    .links ul{
        width: 60%;
        list-style:none;
        margin-left: 20%;
        text-align: center;
    }

    .links li a{
        text-decoration: none;
        color: white;


        font-size: 90%;
        border-radius: 5px;

    }

    .links a:hover {
        background-color: #4c2e86;

        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .media a {

        color: #ef3478;
        padding: 20%;
        margin-left: 5px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        float: left;
        position: relative;

    }
    .media ul li:first-child{
        margin-left: -15px;
    }
    .media {

        width: 100%;
        float: left;
    }

    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 1050px;


    }

    .main-text {
        margin-top: 60px;
        width: 60%;
        margin-left: 20%;
    }

    .slider {
        width: 100%;
        height: 400px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 400px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 115px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* --------------------------------------------------------------------------------- */

@media all and (min-width:1200px) and (max-width: 1400px){
    body,html{
        font-size: 80%;
    }
    .phone-view{
        display: none;
    }
    .title{
        padding-left: 25%;
    }
    .menu-fill{
        position: fixed;
        float: left;
        width: 15%;
        background-color: #6f42c1;
        height: 1100px;
    }
    .menu-pc {

        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 350px;
        color: white;


    }
    .links{
        width: 100%;
        float: left;

    }
    .links img {
        width: 40%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 35%;

    }
    .links ul{
        width: 60%;
        list-style:none;
        margin-left: 20%;
        text-align: center;
    }

    .links li a{
        text-decoration: none;
        color: white;


        font-size: 90%;
        border-radius: 5px;

    }

    .links a:hover {
        background-color: #4c2e86;

        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .media a {

        color: #ef3478;
        padding: 20%;
        margin-left: 5px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        float: left;
        position: relative;

    }
    .media ul li:first-child{
        margin-left: -20px;
    }
    .media {

        width: 100%;
        float: left;
    }

    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 1050px;


    }

    .main-text {
        margin-top: 60px;
        width: 60%;
        margin-left: 20%;
    }

    .slider {
        width: 100%;
        height: 400px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 400px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 125px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}

/* ----------------------------------------------------------------------------------------------- */
@media all and (min-width:1000px) and (max-width: 1200px){
    body,html{
        font-size: 75%;
    }
    .phone-view{
        display: none;
    }
    .title{
        padding-left: 25%;
    }
    .menu-fill{
        position: fixed;
        float: left;
        width: 15%;
        background-color: #6f42c1;
        height: 1100px;
    }
    .menu-pc {

        font-weight: bold;
        width: 15%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 350px;
        color: white;


    }
    .links{
        width: 100%;
        float: left;

    }
    .links img {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30%;

    }
    .links ul{
        width: 100%;
        list-style:none;

        text-align: center;
    }

    .links li a{
        text-decoration: none;
        color: white;


        font-size: 90%;
        border-radius: 5px;

    }

    .links a:hover {
        background-color: #4c2e86;

        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .media a {

        color: #ef3478;
        padding: 20%;
        margin-left: 5px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        float: left;


    }
    .media ul li:first-child{
        margin-left: -35px;
    }
    .media {

        width: 100%;
        float: left;
    }


    .baner {
        margin-left: 15%;
        width: 85%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;
        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 925px;


    }

    .main-text {
        margin-top: 60px;
        width: 60%;
        margin-left: 20%;
    }

    .slider {
        width: 100%;
        height: 300px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 300px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 125px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (min-width:800px) and (max-width: 1000px){
    body,html{
        font-size: 70%;
    }
    .phone-view{
        display: none;
    }
    .title{
        padding-left: 25%;
    }
    .menu-fill{
        position: fixed;
        float: left;
        width: 20%;
        background-color: #6f42c1;
        height: 1100px;
    }
    .menu-pc {

        font-weight: bold;
        width: 20%;
        float: left;
        position: fixed;
        background-color: #6f42c1;
        height: 350px;
        color: white;


    }
    .links{
        width: 100%;
        float: left;

    }
    .links img {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 25%;

    }
    .links ul{
        width: 100%;
        list-style:none;

        text-align: center;
    }

    .links li a{
        text-decoration: none;
        color: white;


        font-size: 90%;
        border-radius: 5px;

    }

    .links a:hover {
        background-color: #4c2e86;

        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .media a {

        color: #ef3478;
        padding: 20%;
        margin-left: 5px;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        float: left;


    }
    .media ul li:first-child{
        margin-left: -25px;
    }
    .media {

        width: 100%;
        float: left;
    }

    .baner {
        margin-left: 20%;
        width: 80%;
        color: white;
        float: left;
        height: 125px;
        line-height: 125px;

        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 125px;
        margin-left: 15%;
        width: 85%;
        float: left;
        min-height: 925px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 12.5%;
    }

    .slider {
        width: 100%;
        height: 300px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 300px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 100px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {
        margin-left: 15%;
        width: 85%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (max-width: 799px) and (min-width: 630px){
    body,html{
        font-size: 90%;
    }
    .pc-view{
        display: none;
    }
    .menu-phone {

        font-weight: bold;
        width: 100%;
        position: fixed;
        background-color: #6f42c1;
        color: white;
        text-align: center;


    }
    .links{
        width: 100%;
        float: left;
    }
    .links img {
        width: 15%;


    }
    .links ul{
        width: 100%;
        list-style:none;

    }
    .links a {
        margin-top: 5px;
        float: left;
        width: 100%;
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        color: white;
        text-align: center;
        margin-left: 5px;
        font-size: 120%;
        border-radius: 5px;
    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .media a {

        text-decoration: none;
        color: #ef3478;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        margin-left: 5px;
        padding: 7px;
        font-size: 130%;
    }

    .media {
        width: 100%;
        margin-left: 28%;

    }

    .baner {
        width: 100%;
        color: white;
        height: 125px;
        line-height: 125px;

        position: fixed;
        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 150px;
        width: 100%;
        float: left;
        min-height: 975px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
    }

    .slider {
        width: 100%;
        height: 300px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 300px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 50px;
        float: left;
    }

    .slider-right {
        margin-right: 30px;
        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }
    .hr{
        width: 100%;
        height: 1px;
        background-color: #4c2e86;
        float: left;
    }
    .posts {
        height: 120px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {

        width: 100%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (max-width: 629px) and (min-width: 500px){
    body,html{
        font-size: 70%;
    }
    .pc-view{
        display: none;
    }
    .menu-phone {
        float: left;
        position: fixed;
        font-weight: bold;
        width: 100%;
        background-color: #6f42c1;
        color: white;
        text-align: center;
        line-height: 100%;


    }
    .links{
        width: 100%;
        float: left;
    }

    .links ul{
        width: 100%;
        list-style: none;
    }
    .links a {
        margin-top: 5px;
        float: left;
        width: 100%;
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        color: white;
        text-align: center;
        margin-left: 5px;
        font-size: 120%;
        border-radius: 5px;
    }

    .links a:hover {
        background-color: #4c2e86;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .media a {

        text-decoration: none;
        color: #ef3478;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        margin-left: 5px;
        padding: 7px;
        font-size: 130%;
    }
    .hrka
    {
        width: 100%;
        color: #4c2e86;
        height: 20px;
    }
    .media {
        width: 100%;
        margin-left: 25%;


    }
    .baner {
        float: left;
        width: 100%;
        color: white;
        height: 125px;
        line-height: 125px;

        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
    }
    .baner img{
        display: none;

    }
    .hr{
        width: 100%;
        height: 1px;
        background-color: #4c2e86;
        float: left;
    }
    .image{
        width: 15%;
    }
    .main {
        margin-top: 110px;
        width: 100%;
        float: left;
        min-height: 750px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
    }

    .slider {
        width: 100%;
        height: 250px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 250px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 20px;
        float: left;
    }

    .slider-right {

        float: right;
    }

    .newsletter {
        padding-top: 40px;
        width: 100%;
        height: 200px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 115px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {

        width: 100%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media all and (max-width: 499px){
    body,html{
        font-size: 60%;
    }
    .pc-view{
        display: none;
    }
    .menu-phone {

        position: fixed;
        font-weight: bold;
        width: 100%;

        background-color: #6f42c1;
        color: white;
        text-align: center;


    }

    .links{
        width: 100%;
        float: left;
    }

    .links ul{
        width: 100%;
        list-style: none;
    }
    .links a {
        margin-top: 5px;
        float: left;
        width: 100%;
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        color: white;
        text-align: center;
        margin-left: 5px;
        font-size: 120%;
        border-radius: 5px;
    }
    .image{
        width: 15%;
    }
    .hr{
        width: 100%;
        height: 1px;
        background-color: #4c2e86;
        float: left;
    }
    .links a:hover {
        background-color: #643bad;
        background-blend-mode: darken;
        text-decoration: none;
        color: white;

    }

    .active a {
        color: #2d1850;
    }

    .menu-phone .media a {

        text-decoration: none;
        color: #ef3478;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin-left: 5px;
        padding: 7px;
        font-size: 135%;
    }

    .menu-phone .media {
        padding: 25px;
        float: left;
        width: 100%;
        margin-left: 20%;


    }

    .baner {
        width: 100%;
        color: white;
        float: left;
        height: 100px;
        line-height: 100px;

        font-size: 300%;
        text-align: center;
        font-weight: bolder;
        background-image: linear-gradient(to bottom right,#f68e62,#d73784 , #6f42c1);
    }
    .baner img{
        display: none;

    }
    .main {
        padding-top: 105px;
        width: 100%;
        float: left;
        min-height: 825px;


    }

    .main-text {
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
    }

    .slider {
        width: 100%;
        height: 250px;
        background-image: url(images/slider3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-icon {
        color: gray;
        line-height: 250px;
        font-size: 350%;
        width: 50px;
        height: 50px;

    }

    .slider-icon:hover {
        color: white;
    }

    .slider-left {
        margin-left: 20px;
        float: left;
    }

    .slider-right {

        float: right;
    }

    .newsletter {
        padding-top: 20px;
        width: 100%;
        height: 150px;
        background-color: #434142;
        color: white;
        text-align: center;
    }

    .newsletter p {
        font-size: 200%;
        font-weight: bold;
    }

    .email {
        margin-top: 10px;
        border-radius: 6%;
        height: 40px;
        padding-left: 15px;
    }

    .button {
        background-color: #007aff;
        border: 1px solid #007aff;
        border-radius: 6%;
        height: 40px;
        width: 120px;
        color: white;
        font-weight: bold;
    }

    .button:hover {
        background-color: #0075af;
        border: 1px solid #0075af;
    }

    .posts {
        height: 120px;
        margin-top: 25px;
        width: 48.75%;
        float: left;
        border: 1px solid gray;
        padding: 10px;
    }

    .posts:last-child {
        margin-left: 2.5%;
    }

    .footer {

        width: 100%;
        padding-top: 10px;
        height: 50px;
        background-color: #434142;
        float: left;
        text-align: center;
        color: white;
    }
}